@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  color: #242424;
  font-family: 'Roboto','Noto Sans JP',sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #242424;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.pc-only {
  display: none;
}

.tab-only {
  display: none;
}

/*基本文字色を変更*/
/*-------------------------------------------------------------------------------------------------

共通部分

--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------

header

--------------------------------------------------------------------------------------------------*/
.l-header .l-header-inner {
  z-index: 9999;
  position: relative;
}

.l-header .l-header-inner .ham {
  z-index: 10000;
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 1.6rem;
  right: 5%;
}

.l-header .l-header-inner .ham span {
  position: absolute;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.l-header .l-header-inner .ham span:first-child {
  top: 5px;
}

.l-header .l-header-inner .ham span:nth-child(2) {
  top: 14px;
}

.l-header .l-header-inner .ham span:last-child {
  bottom: 5px;
}

.l-header .l-header-inner .clicked span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.l-header .l-header-inner .clicked span:nth-child(2) {
  width: 0px;
}

.l-header .l-header-inner .clicked span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
}

.l-header .l-header-inner nav.l-header__nav-top {
  -webkit-transform: translate(100%);
          transform: translate(100%);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.9);
  width: 90%;
  height: 100vh;
  font-size: 2.2rem;
  -webkit-transition: all 0.4s cubic-bezier(0.08, 0.5, 0.24, 0.95);
  transition: all 0.4s cubic-bezier(0.08, 0.5, 0.24, 0.95);
}

.l-header .l-header-inner nav.l-header__nav-top .balloon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0 0;
  margin-bottom: 3.2rem;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .faceicon {
  width: 20%;
  position: relative;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .faceicon h1 {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 65%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting {
  width: 85%;
  padding: 1.6rem 1.6rem;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting .says {
  border-radius: 1.2rem;
  background: rgba(235, 134, 134, 0.7);
  position: relative;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting .says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid rgba(235, 134, 134, 0.7);
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting .says p {
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  line-height: 1.4;
}

.l-header .l-header-inner nav.l-header__nav-top ul {
  padding: 0 2.4rem;
}

.l-header .l-header-inner nav.l-header__nav-top ul li {
  margin-bottom: 2.4rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 1.6rem;
}

.l-header .l-header-inner nav.l-header__nav-top ul li i {
  display: inline-block;
  margin-right: 1rem;
  text-shadow: none;
}

.l-header .l-header-inner nav.l-header__nav-top ul li .fa-twitter {
  color: #1DA1F2;
}

.l-header .l-header-inner nav.l-header__nav-top ul li img {
  width: 2.5rem;
  display: inline-block;
  vertical-align: -20%;
  margin: 0 4px 0 -6px;
}

.l-header .l-header-inner nav.l-header__nav-top ul li span {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.l-header .l-header-inner .clicked.l-header__nav-top {
  -webkit-transform: translate(0);
          transform: translate(0);
}

/*-------------------------------------------------------------------------------------------------

view-first

--------------------------------------------------------------------------------------------------*/
.p-grid__view-first {
  position: relative;
  height: 100vh;
  width: 100%;
}

.p-grid__view-first::before {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: radial-gradient(#000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 4px 4px;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.p-grid__view-first video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.p-grid__view-first .view-first-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.p-grid__view-first .view-first-contents h2 {
  width: 300px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-family: copperplate, serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
}

.p-grid__view-first .view-first-contents h2 span {
  font-size: 4rem;
}

.p-grid__view-first .view-first-contents h2 p {
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: 100px;
}

.p-grid__view-first .view-first-contents p {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.p-grid__view-first .view-first-contents a {
  margin-top: 2.4rem;
}

.p-btn-round {
  opacity: 0.9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 auto .25rem auto;
  line-height: 4rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 20rem;
  height: 4rem;
  position: relative;
}

.btn-about {
  background: #4072B3;
  border: 1px solid #fff;
  color: #fff;
}

.btn-about:hover {
  opacity: 0.8;
  color: #4072B3;
  background-color: #fff;
  border: 2px solid #4072B3;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  top: -2px;
}

.btn-works {
  background: #EB8686;
  border: 1px solid #fff;
  color: #fff;
}

.btn-works:hover {
  opacity: 0.8;
  color: #EB8686;
  background-color: #fff;
  border: 2px solid #EB8686;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  top: -2px;
}

/*-------------------------------------------------------------------------------------------------

footer

--------------------------------------------------------------------------------------------------*/
footer {
  padding: 4rem 0;
  background-color: rgba(64, 114, 179, 0.9);
  color: #fff;
  font-size: 1.6rem;
}

footer .main-inner {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

footer .main-inner ul.footer-list li.footer-contents {
  padding: 0.5rem 0;
  margin-bottom: 2.4rem;
}

footer .main-inner ul.footer-list li.footer-contents label p {
  font-weight: bold;
  padding: 0.5rem 0;
  cursor: pointer;
  position: relative;
}

footer .main-inner ul.footer-list li.footer-contents label p::after {
  content: '+';
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.4rem;
  position: absolute;
  right: 5%;
  top: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

footer .main-inner ul.footer-list li.footer-contents input {
  display: none;
}

footer .main-inner ul.footer-list li.footer-contents input:checked ~ ul.content-list li {
  height: 3.6rem;
  padding: 0.5rem;
  opacity: 1;
}

footer .main-inner ul.footer-list li.footer-contents input:checked ~ ul.content-list li a {
  display: inline-block;
  color: #fff;
  width: 100%;
}

footer .main-inner ul.footer-list li.footer-contents input:checked + label p::after {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

footer .main-inner ul.footer-list li.footer-contents ul.content-list li {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .main-inner .copyright {
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 1rem;
}

/* -------------------------------------------- */
/* ▼タブレット用デザイン */
/* -------------------------------------------- */
@media screen and (min-width: 768px) {
  .tab-only {
    display: block;
  }
  /* -------------------------------------------- */
  /* 768px〜 ヘッダー用デザイン */
  /* -------------------------------------------- */
  .l-header {
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 22222;
  }
  .l-header .l-header-inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-header .l-header-inner .l-product-logo-pc .face-logo {
    width: 43px;
  }
  .l-header .l-header-inner .ham {
    display: none;
  }
  .l-header .l-header-inner nav.l-header__nav-top {
    height: 60px;
    -webkit-transform: translate(0);
            transform: translate(0);
    background-color: transparent;
    font-size: 1.6rem;
    position: static;
  }
  .l-header .l-header-inner nav.l-header__nav-top .balloon {
    display: none;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li {
    height: 60px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 0;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li:hover {
    text-shadow: 0 2px 2px #bbb;
    background-color: rgba(192, 192, 192, 0.3);
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li a {
    display: inline-block;
    line-height: 60px;
    padding: 0 10px 0;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li a i {
    margin-right: 0.5rem;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li a span {
    display: none;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li img {
    width: 2.5rem;
    margin: 0px 0 5px 0;
  }
  /* -------------------------------------------- */
  /* 768px〜 ファーストビュー用デザイン */
  /* -------------------------------------------- */
  .p-grid__view-first .view-first-contents h2 p {
    top: 2px;
    right: -47px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .p-grid__view-first .view-first-contents h2 p:hover {
    font-size: 1.6rem;
    top: -8px;
    right: -57px;
  }
  /* -------------------------------------------- */
  /* 768px〜 フッター用デザイン */
  /* -------------------------------------------- */
  footer .main-inner ul.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .main-inner ul.footer-list li.footer-contents {
    width: 30%;
    margin-left: 20px;
  }
  footer .main-inner ul.footer-list li.footer-contents label p {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
    cursor: auto;
  }
  footer .main-inner ul.footer-list li.footer-contents label p::after {
    display: none;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list li {
    height: 3.6rem;
    padding: 0.5rem;
    opacity: 1;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list a {
    display: inline-block;
    color: #fff;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list a:hover {
    color: #EB8686;
  }
  footer .copyright {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 1rem;
  }
}

/* ------------------------------------ */
/* ▼PC用デザイン */
/* ------------------------------------ */
@media screen and (min-width: 1024px) {
  .pc-only {
    display: block;
  }
  .l-header .l-header-inner .l-product-logo-pc a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-header .l-header-inner .l-product-logo-pc a .logo {
    width: 200px;
    padding: 20px 20px 0;
  }
  footer .main-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .main-inner div.footer-items {
    width: 40%;
  }
  footer .main-inner div.footer-items .footer-icon {
    width: 25%;
    padding: 0 0 1.6rem;
    margin: 0 auto;
  }
  footer .main-inner div.footer-items .footer-logo {
    width: 60%;
    margin: 0 auto 2.4rem;
  }
  footer .main-inner ul.footer-list {
    width: 60%;
  }
  footer .main-inner ul.footer-list li.footer-contents {
    width: 33%;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */