@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  color: #242424;
  background-color: #eee;
  font-family: 'Roboto','Noto Sans JP',sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #242424;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.pc-only {
  display: none;
}

.tab-only {
  display: none;
}

.text {
  display: inline-block;
}

.spacer {
  height: 80px;
}

/*基本文字色を変更*/
/*-------------------------------------------------------------------------------------------------

共通部分

--------------------------------------------------------------------------------------------------*/
.section-inner {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------

header

-------------------------------------------------------------------------------------------------*/
.l-header .l-header-inner {
  z-index: 9999;
  position: relative;
}

.l-header .l-header-inner .ham {
  z-index: 10000;
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 1.6rem;
  right: 5%;
}

.l-header .l-header-inner .ham span {
  position: absolute;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 1px 1px 3px rgba(64, 114, 179, 0.8);
          box-shadow: 1px 1px 3px rgba(64, 114, 179, 0.8);
}

.l-header .l-header-inner .ham span:first-child {
  top: 5px;
}

.l-header .l-header-inner .ham span:nth-child(2) {
  top: 14px;
}

.l-header .l-header-inner .ham span:last-child {
  bottom: 5px;
}

.l-header .l-header-inner .clicked span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.l-header .l-header-inner .clicked span:nth-child(2) {
  width: 0px;
}

.l-header .l-header-inner .clicked span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
}

.l-header .l-header-inner nav.l-header__nav-top {
  z-index: 100;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.9);
  width: 90%;
  height: 100vh;
  font-size: 2.2rem;
  opacity: 0;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0 0;
  margin-bottom: 3.2rem;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .faceicon {
  width: 20%;
  position: relative;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .faceicon h1 {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 65%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting {
  width: 85%;
  padding: 1.6rem 1.6rem;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting .says {
  border-radius: 1.2rem;
  background: rgba(235, 134, 134, 0.7);
  position: relative;
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting .says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid rgba(235, 134, 134, 0.7);
}

.l-header .l-header-inner nav.l-header__nav-top .balloon .chatting .says p {
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  line-height: 1.4;
}

.l-header .l-header-inner nav.l-header__nav-top ul {
  padding: 0 2.4rem;
}

.l-header .l-header-inner nav.l-header__nav-top ul li {
  margin-bottom: 2.4rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 1.6rem;
}

.l-header .l-header-inner nav.l-header__nav-top ul li i {
  display: inline-block;
  margin-right: 1rem;
  text-shadow: none;
}

.l-header .l-header-inner nav.l-header__nav-top ul li .fa-twitter {
  color: #1DA1F2;
}

.l-header .l-header-inner nav.l-header__nav-top ul li img {
  width: 2.5rem;
  display: inline-block;
  vertical-align: -20%;
  margin: 0 4px 0 -6px;
}

.l-header .l-header-inner nav.l-header__nav-top ul li span {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.l-header .l-header-inner .clicked.l-header__nav-top {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

/*-------------------------------------------------------------------------------------------------

view-first

-------------------------------------------------------------------------------------------------*/
.p-grid__view-first {
  position: relative;
  height: 100vh;
  width: 100%;
}

.p-grid__view-first::before {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: radial-gradient(#000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 4px 4px;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.p-grid__view-first video {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.p-grid__view-first .view-first-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.p-grid__view-first .view-first-contents h2 {
  width: 300px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-family: copperplate, serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
}

.p-grid__view-first .view-first-contents h2 span {
  font-size: 4rem;
}

.p-grid__view-first .view-first-contents h2 p {
  width: 300px;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: -15px;
  right: 5px;
}

.p-grid__view-first .view-first-contents p {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.p-grid__view-first .view-first-contents a {
  margin-top: 2.4rem;
}

.p-grid__view-first a.scroll {
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
}

.p-grid__view-first a.scroll span {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.p-btn-round {
  opacity: 0.9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 auto .25rem auto;
  line-height: 4rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 20rem;
  height: 4rem;
  position: relative;
}

.btn-about {
  background: rgba(64, 114, 179, 0.8);
  border: 1px solid #fff;
  color: #fff;
}

.btn-about:hover {
  opacity: 0.8;
  color: rgba(64, 114, 179, 0.8);
  background-color: #fff;
  border: 2px solid #4072B3;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-works {
  background: rgba(235, 134, 134, 0.7);
  border: 1px solid #fff;
  color: #fff;
}

.btn-works:hover {
  opacity: 0.8;
  color: rgba(235, 134, 134, 0.7);
  background-color: #fff;
  border: 2px solid rgba(235, 134, 134, 0.7);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/*-------------------------------------------------------------------------------------------------

sub-view

-------------------------------------------------------------------------------------------------*/
.subView {
  padding-top: 60px;
  background-image: url(../img/subView.jpg);
  background-size: cover;
  z-index: 10;
}

.subView.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 290px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.subView .subView-inner {
  opacity: 0;
  position: relative;
  margin: 0 auto;
  height: 230px;
  z-index: 50;
}

.subView .subView-inner .subView-textContent {
  text-align: center;
  z-index: 500;
  background-color: #EB8686;
  opacity: 0.95;
  width: 70%;
  max-width: 980px;
  height: 30%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-60%) translateX(-47%);
          transform: translateY(-60%) translateX(-47%);
}

.subView .subView-inner .subView-textContent h1 {
  color: #fff;
  font-size: 4rem;
  font-family: 'Cabin Sketch', cursive;
  position: absolute;
  top: 53%;
  left: 47%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.subView .subView-inner .subView-breadCrumbs {
  z-index: 49;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-30%) translateX(-53%);
          transform: translateY(-30%) translateX(-53%);
  background-color: rgba(64, 114, 179, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 30%;
}

.subView .subView-inner .subView-breadCrumbs li {
  font-size: 1.2rem;
  padding: 0.1rem 0;
}

.subView .subView-inner .subView-breadCrumbs li a {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.subView .subView-inner .subView-breadCrumbs li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.subView .subView-inner .subView-breadCrumbs li span {
  color: #fff;
  margin: 0 10px;
}

/*-------------------------------------------------------------------------------------------------

about

-------------------------------------------------------------------------------------------------*/
.about {
  color: #fff;
  background-color: rgba(64, 114, 179, 0.8);
}

.about .about-wrap {
  text-align: center;
  padding: 9rem 0 2rem;
}

.about .about-wrap .section-inner .section-title {
  font-size: 2.4rem;
  color: #fff;
  position: relative;
  margin-bottom: 5.6rem;
}

.about .about-wrap .section-inner .section-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 20%;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(235, 134, 134, 0.7);
  border-radius: 1px;
  content: none;
}

.about .about-wrap .section-inner p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 3.2rem;
}

/*-------------------------------------------------------------------------------------------------

want

-------------------------------------------------------------------------------------------------*/
.want .want-wrap {
  padding: 9rem 0 0;
}

.want .want-wrap .section-inner {
  max-width: 1080px;
}

.want .want-wrap .section-inner .section-title {
  font-size: 2.4rem;
  color: #242424;
  position: relative;
  text-align: center;
  margin-bottom: 6.4rem;
}

.want .want-wrap .section-inner .section-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 20%;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(235, 134, 134, 0.7);
  border-radius: 1px;
}

.want .want-wrap .section-inner .want-list {
  color: #fff;
  margin-bottom: 4rem;
}

.want .want-wrap .section-inner .want-list li {
  position: relative;
  width: 300px;
  height: 424px;
  margin: 0 auto 2.4rem;
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -2, 0.45, 2);
  transition: all 0.5s cubic-bezier(0.68, -2, 0.45, 2);
  background: #6088C6;
  background: linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.1) 75%) 0 0, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.1) 75%) 0 0, linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.1) 75%) 7px -15px, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.1) 75%) 7px -15px, #6088C6;
  background-size: 15px 30px;
}

.want .want-wrap .section-inner .want-list li img {
  height: 168px;
}

.want .want-wrap .section-inner .want-list li .card-title {
  text-align: center;
  font-size: 2rem;
  padding: 1.6rem 0;
  font-weight: bold;
  position: relative;
}

.want .want-wrap .section-inner .want-list li .card-title span {
  position: absolute;
  top: 17px;
  left: 6px;
}

.want .want-wrap .section-inner .want-list li .card-title:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -12px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 69.282px solid rgba(235, 134, 134, 0.7);
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.want .want-wrap .section-inner .want-list li:nth-of-type(even) {
  background-color: rgba(235, 134, 134, 0.7);
}

.want .want-wrap .section-inner .want-list li:nth-of-type(even) .card-title:before {
  border-left: 69.282px solid #6088C6;
}

.want .want-wrap .section-inner .want-list li .text-wrap {
  padding: 0.8rem 1.6rem;
}

.want .want-wrap .section-inner .want-list li .text-wrap .card-text {
  font-size: 1.6rem;
  padding: 0 0.9rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(97%, transparent), to(#ddd));
  background: linear-gradient(transparent 0, transparent 97%, #ddd 100%);
  background-size: 100% 2.8rem;
  line-height: 2.8rem;
}

.want .want-wrap .section-inner .want-list li .text-wrap .card-text a {
  color: rgba(64, 114, 179, 0.8);
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.want .want-wrap .section-inner .want-list li .text-wrap .card-text a:hover {
  color: rgba(0, 0, 255, 0.8);
}

@media screen and (min-width: 768px) {
  .want .want-wrap .section-inner .want-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .want .want-wrap .section-inner .want-list li {
    margin: 0 2.2rem 4.8rem;
  }
}

.want .want-wrap .section-inner a {
  font-size: 1.8rem;
}

/*-------------------------------------------------------------------------------------------------

works

-------------------------------------------------------------------------------------------------*/
.works {
  text-align: center;
  color: #fff;
  background-color: rgba(64, 114, 179, 0.8);
}

.works .works-wrap {
  padding: 9rem 0;
}

.works .works-wrap .section-inner .section-title {
  font-size: 2.4rem;
  color: #fff;
  position: relative;
  margin-bottom: 10rem;
}

.works .works-wrap .section-inner .section-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 20%;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(235, 134, 134, 0.7);
  border-radius: 1px;
}

.works .works-wrap .section-inner .swiper-container-wrapper {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list {
  position: relative;
  margin-bottom: 10rem;
  max-width: 980px;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list .swiper-wrapper .p-grid__list-item {
  background-color: #eee;
  padding: 1.4rem 1rem 5rem;
  -o-border-image: linear-gradient(90deg, #AEC4E5, rgba(235, 134, 134, 0.7), #AEC4E5) 1/6px 0 6px;
     border-image: -webkit-gradient(linear, left top, right top, from(#AEC4E5), color-stop(rgba(235, 134, 134, 0.7)), to(#AEC4E5)) 1/6px 0 6px;
     border-image: linear-gradient(90deg, #AEC4E5, rgba(235, 134, 134, 0.7), #AEC4E5) 1/6px 0 6px;
  border-style: solid;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list .swiper-wrapper .p-grid__list-item a {
  color: #242424;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list .swiper-wrapper .p-grid__list-item a p.card-pic {
  margin-bottom: 1rem;
  overflow: hidden;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list .swiper-wrapper .p-grid__list-item a h3 {
  font-size: 2.2rem;
  padding: 1rem;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list .swiper-wrapper .p-grid__list-item a .card-text {
  text-align: left;
  padding: 1.6rem;
  font-size: 1.6rem;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list .swiper-pagination {
  margin-top: 15px;
  position: static;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-container.p-grid__list .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #EB8686;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-button-next, .works .works-wrap .section-inner .swiper-container-wrapper .swiper-container-rtl .swiper-button-prev {
  right: -28px;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-button-prev, .works .works-wrap .section-inner .swiper-container-wrapper .swiper-container-rtl .swiper-button-next {
  left: -28px;
}

.works .works-wrap .section-inner .swiper-container-wrapper .swiper-button-prev, .works .works-wrap .section-inner .swiper-container-wrapper .swiper-button-next {
  top: 55%;
  color: #EB8686;
  font-size: 3.2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.works .works-wrap .section-inner .btn-works {
  font-size: 1.8em;
  background: rgba(235, 134, 134, 0.7);
  border: 1px solid #fff;
  color: #fff;
}

.works .works-wrap .section-inner .btn-works:hover {
  opacity: 0.8;
  color: rgba(235, 134, 134, 0.7);
  background-color: #fff;
  border: 2px solid rgba(235, 134, 134, 0.7);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/*-------------------------------------------------------------------------------------------------

skill

-------------------------------------------------------------------------------------------------*/
.skill {
  color: #fff;
  background-color: rgba(64, 114, 179, 0.8);
}

.skill .skill-wrap {
  padding: 9rem 0;
}

.skill .skill-wrap .section-inner .section-title {
  font-size: 2.4rem;
  color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 5.6rem;
}

.skill .skill-wrap .section-inner .section-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 20%;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(235, 134, 134, 0.7);
  border-radius: 1px;
}

.skill .skill-wrap .section-inner .history-wrap .history-list {
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.6rem;
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item {
  border-left: 4px solid #fff;
  padding: 0 0 5rem;
}

@media screen and (min-width: 768px) {
  .skill .skill-wrap .section-inner .history-wrap .history-list .history-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left {
    width: 50%;
  }
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left .age {
  font-size: 1.8rem;
  width: 30%;
  color: #FC9D9D;
  margin-right: auto;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left .age::before {
  margin-right: 0.5rem;
  color: #fff;
  border-top: 1px solid;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left .age {
    margin-bottom: 2.5rem;
  }
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left .age-title {
  color: rgba(64, 114, 179, 0.8);
  background-color: #EEF9FF;
  display: inline-block;
  margin: 0 2rem 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #AAD6EC;
  border-left: 5px solid #AAD6EC;
  border-right: 5px solid #AAD6EC;
}

@media screen and (min-width: 768px) {
  .skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left .age-title {
    margin-bottom: 2.5rem;
  }
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left dl dt {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left dl dt::before {
  border-top: 1px solid;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0.5rem;
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-left dl dd {
  width: calc(100% - 60px);
  padding-left: 1.6rem;
}

@media screen and (min-width: 768px) {
  .skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-right {
    width: 50%;
    padding-top: 5%;
  }
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-right .age-text {
  width: 95%;
  margin: 0 auto 1rem;
  font-size: 1.4rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-right .age-text {
    margin: 0 auto 1rem 0;
  }
}

.skill .skill-wrap .section-inner .history-wrap .history-list .history-item .skill-right .age-private {
  font-size: 1.4rem;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #6088C6;
  border-radius: 10px;
}

/*-------------------------------------------------------------------------------------------------

contact

-------------------------------------------------------------------------------------------------*/
.contact .contact-wrap {
  text-align: center;
  padding: 9rem 0;
}

.contact .contact-wrap .section-inner .section-title {
  font-size: 2.4rem;
  color: #242424;
  position: relative;
  margin-bottom: 5.6rem;
}

.contact .contact-wrap .section-inner .section-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 20%;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: 4pink;
  border-radius: 1px;
}

.contact .contact-wrap .section-inner p {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.contact .contact-wrap .section-inner .btn-contact {
  font-size: 1.8em;
  background: rgba(235, 134, 134, 0.7);
  border: 1px solid #fff;
  color: #fff;
}

.contact .contact-wrap .section-inner .btn-contact:hover {
  opacity: 0.8;
  color: rgba(235, 134, 134, 0.7);
  background-color: #fff;
  border: 2px solid rgba(235, 134, 134, 0.7);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/*-------------------------------------------------------------------------------------------------

footer

-------------------------------------------------------------------------------------------------*/
footer {
  padding: 4rem 0;
  background-color: rgba(64, 114, 179, 0.8);
  color: #fff;
  font-size: 1.6rem;
}

footer .main-inner {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

footer .main-inner ul.footer-list li.footer-contents {
  padding: 0.5rem 0;
  margin-bottom: 2.4rem;
}

footer .main-inner ul.footer-list li.footer-contents label p {
  font-weight: bold;
  padding: 0.5rem 0;
  cursor: pointer;
  position: relative;
}

footer .main-inner ul.footer-list li.footer-contents label p span {
  font-size: 1.2rem;
}

footer .main-inner ul.footer-list li.footer-contents label p::after {
  content: '+';
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.4rem;
  position: absolute;
  right: 5%;
  top: 0;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

footer .main-inner ul.footer-list li.footer-contents input {
  display: none;
}

footer .main-inner ul.footer-list li.footer-contents input:checked ~ ul.content-list li {
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  height: 3.6rem;
  padding: 0.5rem;
}

footer .main-inner ul.footer-list li.footer-contents input:checked ~ ul.content-list li a {
  display: inline-block;
  width: 100%;
}

footer .main-inner ul.footer-list li.footer-contents input:checked + label p::after {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

footer .main-inner ul.footer-list li.footer-contents ul.content-list li {
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

footer .main-inner ul.footer-list li.footer-contents ul.content-list li a {
  color: #fff;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 1rem;
}

/* -------------------------------------------- */
/* ▼タブレット用デザイン */
/* -------------------------------------------- */
@media screen and (min-width: 768px) {
  .tab-only {
    display: block;
  }
  /* -------------------------------------------- */
  /* 768px〜 ヘッダー用デザイン */
  /* -------------------------------------------- */
  .l-header {
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 22222;
  }
  .l-header .l-header-inner {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-header .l-header-inner .l-product-logo-pc .face-logo {
    width: 43px;
  }
  .l-header .l-header-inner .ham {
    display: none;
  }
  .l-header .l-header-inner nav.l-header__nav-top {
    opacity: 1;
    height: 60px;
    -webkit-transform: translate(0);
            transform: translate(0);
    background-color: transparent;
    font-size: 1.6rem;
    position: static;
  }
  .l-header .l-header-inner nav.l-header__nav-top .balloon {
    display: none;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li {
    height: 58px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 0;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li:hover {
    text-shadow: 0 2px 2px #bbb;
    background-color: rgba(192, 192, 192, 0.3);
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li a {
    display: inline-block;
    line-height: 60px;
    padding: 0 10px 0;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li a i {
    margin-right: 0.5rem;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li a span {
    display: none;
  }
  .l-header .l-header-inner nav.l-header__nav-top .gb-menu li img {
    width: 2.5rem;
    margin: 0px 0 5px 0;
  }
  /* -------------------------------------------- */
  /* 768px〜 ファーストビュー用デザイン */
  /* -------------------------------------------- */
  .p-grid__view-first .view-first-contents h2:hover p {
    font-size: 1.6rem;
    top: -2px;
    right: -140px;
  }
  .p-grid__view-first .view-first-contents h2 p {
    padding-bottom: 2rem;
    top: -2px;
    right: -132px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  /* -------------------------------------------- */
  /* 768px〜 コンタクト用デザイン */
  /* -------------------------------------------- */
  .contact .contact-wrap {
    text-align: center;
    padding: 9rem 0;
  }
  .contact .contact-wrap .section-inner .section-title {
    font-size: 2.4rem;
    color: #242424;
    position: relative;
    margin-bottom: 5.6rem;
  }
  .contact .contact-wrap .section-inner .section-title:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 20%;
    height: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(235, 134, 134, 0.7);
    border-radius: 1px;
  }
  .contact .contact-wrap .section-inner p {
    text-align: center;
    line-height: 3.2rem;
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }
  .contact .contact-wrap .section-inner .btn-contact {
    font-size: 1.8em;
    background: rgba(235, 134, 134, 0.7);
    border: 1px solid #fff;
    color: #fff;
  }
  .contact .contact-wrap .section-inner .btn-contact:hover {
    opacity: 0.8;
    color: rgba(235, 134, 134, 0.7);
    background-color: #fff;
    border: 2px solid rgba(235, 134, 134, 0.7);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  /* -------------------------------------------- */
  /* 768px〜 フッター用デザイン */
  /* -------------------------------------------- */
  footer .main-inner ul.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .main-inner ul.footer-list li.footer-contents {
    width: 30%;
    margin-left: 20px;
  }
  footer .main-inner ul.footer-list li.footer-contents label p {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
    cursor: auto;
  }
  footer .main-inner ul.footer-list li.footer-contents label p::after {
    display: none;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list li {
    height: auto;
    padding: 0.5rem;
    opacity: 1;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list a {
    display: inline-block;
    color: #fff;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list a:hover {
    color: rgba(235, 134, 134, 0.7);
  }
  footer .copyright {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 1rem;
  }
}

/* ------------------------------------ */
/* ▼PC用デザイン微調整 */
/* ------------------------------------ */
@media screen and (min-width: 1024px) {
  .pc-only {
    display: block;
  }
  .l-header .l-header-inner .l-product-logo-pc a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-header .l-header-inner .l-product-logo-pc a .logo {
    width: 200px;
    padding: 20px 20px 0;
  }
  .p-grid__view-first .view-first-contents {
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
  }
  footer .main-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .main-inner div.footer-items {
    width: 40%;
  }
  footer .main-inner div.footer-items .footer-icon {
    width: 25%;
    padding: 0 0 1.6rem;
    margin: 0 auto;
  }
  footer .main-inner div.footer-items .footer-logo {
    width: 60%;
    margin: 0 auto 2.4rem;
  }
  footer .main-inner ul.footer-list {
    width: 60%;
  }
  footer .main-inner ul.footer-list li.footer-contents {
    width: 33%;
  }
  footer .main-inner ul.footer-list li.footer-contents ul.content-list {
    font-size: 1.5rem;
  }
}
