@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  color: #242424;
  font-family: 'Roboto','Noto Sans JP',sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #242424;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto
}

.pc-only {
  display: none;
}

/*基本文字色を変更*/

/*-------------------------------------------------------------------------------------------------

共通部分

--------------------------------------------------------------------------------------------------*/

@mixin btnStyle() {
  opacity: 0.9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 auto .25rem auto;
  line-height: 4rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 20rem;
  height: 4rem;
  position: relative;
}

@mixin btnColor($btnBgColor:#4072B3, $borderColor:#fff, $btnColor:#fff) {
  background: $btnBgColor;
  border: 1px solid $borderColor;
  color: $btnColor;
}

@mixin btnHover($hoverColor:#4072B3, $hoverBgColor:#fff, $hoverBoderColor:#4072B3) {
  opacity: 0.8;
  color: $hoverColor;
  background-color: $hoverBgColor;
  border: 2px solid $hoverBoderColor;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  top: -2px;
}


/*-------------------------------------------------------------------------------------------------

header

--------------------------------------------------------------------------------------------------*/

.l-header {
  .l-header-inner {
    z-index: 9999;
    position: relative;
    //ここからハンバーガーメニュー
    .ham {
      z-index: 10000;
      position: fixed;
      width: 30px;
      height: 30px;
      cursor: pointer;
      top: 1.6rem;
      right: 5%;
      span {
        position: absolute;
        left: 5px;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s;
        &:first-child {
          top: 5px;
        }
        &:nth-child(2) {
          top: 14px;
        }
        &:last-child {
          bottom: 5px;
        }
      }
    }
    .clicked span:first-child {
      transform: rotate(45deg);
      top: 10px;
    }
    .clicked span:nth-child(2) {
      width: 0px;
    } 
    .clicked span:last-child {
      transform: rotate(-45deg);
      top: 10px;
    }
    //ここまでハンバーガーメニュー
    nav.l-header__nav-top {
      transform: translate(100%);
      position: fixed;
      top: 0;
      right: 0;
      background-color: rgba(192, 192, 192, 0.9);
      width: 90%;
      height: 100vh;
      font-size: 2.2rem;
      transition: all 0.4s cubic-bezier(.08,.5,.24,.95);
      .balloon {
        width: 100%;
        display: flex;
        padding: 4rem 0 0;
        margin-bottom: 3.2rem;
        .faceicon {
          width: 20%;
          position: relative;
          h1 {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 65%;
            transform: translateY(-50%) translateX(-50%);
          }
        }
        .chatting {
          width: 85%;
          padding: 1.6rem 1.6rem;
          .says {
            border-radius: 1.2rem;
            background: rgba(235, 134, 134, 0.7);
            position: relative;
            &:after {
              content: "";
              display: inline-block;
              position: absolute;
              top: 50%; 
              left: -24px;
              border: 12px solid transparent;
              border-right: 12px solid rgba(235, 134, 134, 0.7);
            }
            p {
              font-size: 1.4rem;
              padding: 1rem 1.6rem;
              line-height: 1.4;
            }
          }
        }
      }
      ul {
        padding: 0 2.4rem;
        li {
          margin-bottom: 2.4rem;
          text-shadow: 0 0 8px rgba(255,255,255,.8);
          text-transform: uppercase;
          font-size: 1.6rem;
          i {
            display: inline-block;
            margin-right: 1rem;
            text-shadow: none;
          }
          .fa-twitter {
            color: #1DA1F2;
          }
          img {
            width: 2.5rem;
            display: inline-block;
            vertical-align: -20%;
            margin: 0 4px 0 -6px;
          }
          span {
            margin-left: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
    .clicked.l-header__nav-top {
      transform: translate(0);
    }
  }
}

/*-------------------------------------------------------------------------------------------------

view-first

--------------------------------------------------------------------------------------------------*/

.p-grid__view-first {
  position: relative;
  height: 100vh;
  width: 100%;
  &::before { //画質を落とした背景動画にドットのマスクを設定
    background-color: rgba(0, 0, 0, .4);
    background-image: radial-gradient(#000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 4px 4px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .view-first-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 95%;
    text-align: center;
    margin: 0 auto;
    h2 {
      text-transform: uppercase;
      color: #fff;
      text-shadow: 0 0 8px rgba(255,255,255,.8);
      font-size: 2.8rem;
      margin-bottom: 1rem;
      font-family: copperplate, serif;
      font-weight: 700;
      font-style: normal;
      span {
        font-size: 4rem;
      }
    }
    p {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
    a {
      margin-top: 2.4rem;
    }
  }
}

.p-btn-round {
  @include btnStyle();
}

.btn-about {
  @include btnColor;
  &:hover {
    @include btnHover;
  }
}

.btn-works {
  @include btnColor(#EB8686, #fff, #fff);
  &:hover {
    @include btnHover(#EB8686, #fff, #EB8686)
  }
}


/*-------------------------------------------------------------------------------------------------

footer

--------------------------------------------------------------------------------------------------*/

footer {
  height: 600px;
  background-color: #4072B3;
  color: #fff;
}


/* -------------------------------------------- */
/* ▼タブレット用デザイン */
/* -------------------------------------------- */

@media screen and (min-width: 768px) {
  .pc-only {
    display: block;
  }
  
  .l-header {
    background-color: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 22222;
    .l-header-inner {
      width: 95%;
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .l-product-logo-pc {
        width: 44px;
      }
      .ham {
        display: none;
      }
      nav.l-header__nav-top {
        height: 60px;
        transform: translate(0);
        background-color: transparent;
        font-size: 1.6rem;
        position: static;
        .balloon {
          display: none;
        }
        .gb-menu {
          width: auto;
          display: flex;
          padding: 0;
          justify-content: flex-end;
          position: static;
          li {
            height: 60px;
            transition: .3s;
            &:hover {
              text-shadow: 0 2px 2px #bbb;
              background-color: rgba(192, 192, 192, 0.3);
              box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
            }
            a {
              display: inline-block;
              line-height: 60px;
              padding: 0 10px 0 ;
              i {
                margin-right: 0.5rem;
              }
              span {
                display: none;
              }
            }
            img {
              width: 2.5rem;
              margin: 0px 0 5px 0 ;
            }
          }
        }
      }
    }
  }
}
/* ------------------------------------ */
/* ▼PC用デザイン用デザイン */
/* ------------------------------------ */
@media screen and (min-width: 1024px) {

}
