@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  color: #242424;
  background-color: #eee;
  font-family: 'Roboto','Noto Sans JP',sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #242424;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto
}

.pc-only {
  display: none;
}

.tab-only {
  display: none;
}

.text {
  display: inline-block;
}

.spacer {
  height: 80px;
}
/*基本文字色を変更*/

/*-------------------------------------------------------------------------------------------------

共通部分

--------------------------------------------------------------------------------------------------*/
.section-inner {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
$textBlack: #242424;

$baseBlue: rgba(64, 114, 179, 0.8);

$pink: rgba(235, 134, 134, 0.7);

@mixin sectionTitle($titleColor) {
  font-size: 2.4rem;
  color: $titleColor;
  position: relative;
} 


@mixin sectionTitleModule($sectionTitleModuleColor) {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 20%;
  height: 4px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: $sectionTitleModuleColor;
  border-radius: 1px;
}

@mixin btnStyle() {
  opacity: 0.9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 auto .25rem auto;
  line-height: 4rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 20rem;
  height: 4rem;
  position: relative;
}

@mixin btnColor($btnBgColor:$baseBlue, $borderColor:#fff, $btnColor:#fff) {
  background: $btnBgColor;
  border: 1px solid $borderColor;
  color: $btnColor;
}

@mixin btnHover($hoverColor:$baseBlue, $hoverBgColor:#fff, $hoverBoderColor:#4072B3) {
  opacity: 0.8;
  color: $hoverColor;
  background-color: $hoverBgColor;
  border: 2px solid $hoverBoderColor;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin cardBgBlue() {
  background: #6088C6;
  background:
  linear-gradient(115deg, transparent 75%, rgba(255,255,255,.1) 75%) 0 0,
  linear-gradient(245deg, transparent 75%, rgba(255,255,255,.1) 75%) 0 0,
  linear-gradient(115deg, transparent 75%, rgba(255,255,255,.1) 75%) 7px -15px,
  linear-gradient(245deg, transparent 75%, rgba(255,255,255,.1) 75%) 7px -15px,
  #6088C6;
  background-size: 15px 30px;
}

/*-------------------------------------------------------------------------------------------------

header

-------------------------------------------------------------------------------------------------*/

.l-header {
  .l-header-inner {
    z-index: 9999;
    position: relative;
    //ここからハンバーガーメニュー
    .ham {
      z-index: 10000;
      position: fixed;
      width: 30px;
      height: 30px;
      cursor: pointer;
      top: 1.6rem;
      right: 5%;
      span {
        position: absolute;
        left: 5px;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s;
        box-shadow: 1px 1px 3px $baseBlue;
        &:first-child {
          top: 5px;
        }
        &:nth-child(2) {
          top: 14px;
        }
        &:last-child {
          bottom: 5px;
        }
      }
    }
    .clicked span:first-child {
      transform: rotate(45deg);
      top: 10px;
    }
    .clicked span:nth-child(2) {
      width: 0px;
    } 
    .clicked span:last-child {
      transform: rotate(-45deg);
      top: 10px;
    }
    //ここまでハンバーガーメニュー
    nav.l-header__nav-top {
      z-index: 100;
      transform: translate(100%);
      position: fixed;
      top: 0;
      right: 0;
      background-color: rgba(192, 192, 192, 0.9);
      width: 90%;
      height: 100vh;
      font-size: 2.2rem;
      opacity: 0;
      transition-duration: 0.35s;
      .balloon {
        width: 100%;
        display: flex;
        padding: 4rem 0 0;
        margin-bottom: 3.2rem;
        .faceicon {
          width: 20%;
          position: relative;
          h1 {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 65%;
            transform: translateY(-50%) translateX(-50%);
          }
        }
        .chatting {
          width: 85%;
          padding: 1.6rem 1.6rem;
          .says {
            border-radius: 1.2rem;
            background: $pink;
            position: relative;
            &:after {
              content: "";
              display: inline-block;
              position: absolute;
              top: 50%; 
              left: -24px;
              border: 12px solid transparent;
              border-right: 12px solid $pink;
            }
            p {
              font-size: 1.4rem;
              padding: 1rem 1.6rem;
              line-height: 1.4;
            }
          }
        }
      }
      ul {
        padding: 0 2.4rem;
        li {
          margin-bottom: 2.4rem;
          text-shadow: 0 0 8px rgba(255,255,255,.8);
          text-transform: uppercase;
          font-size: 1.6rem;
          i {
            display: inline-block;
            margin-right: 1rem;
            text-shadow: none;
          }
          .fa-twitter {
            color: #1DA1F2;
          }
          img {
            width: 2.5rem;
            display: inline-block;
            vertical-align: -20%;
            margin: 0 4px 0 -6px;
          }
          span {
            margin-left: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
    .clicked.l-header__nav-top {
      opacity: 1;
      transform: translate(0);
      transition-duration: 0.35s;
    }
  }
}

/*-------------------------------------------------------------------------------------------------

view-first

-------------------------------------------------------------------------------------------------*/

.p-grid__view-first {
  position: relative;
  height: 100vh;
  width: 100%;
  &::before { //画質を落とした背景動画にドットのマスクを設定
    background-color: rgba(0, 0, 0, .4);
    background-image: radial-gradient(#000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 4px 4px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  video {
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .view-first-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
    margin: 0 auto;
    h2 {
      width: 300px;
      margin: 0 auto;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 0 0 8px rgba(255,255,255,.8);
      font-size: 2.8rem;
      margin-bottom: 1rem;
      font-family: copperplate, serif;
      font-weight: 700;
      font-style: normal;
      position: relative;
      span {
        font-size: 4rem;
      }
      p {
        width: 300px;
        font-family: fot-tsukubrdgothic-std, sans-serif;
        font-style: normal;
        font-weight: bold;
        position: absolute;
        top: -15px;
        right: 5px;
      }
    }
    p {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
    a {
      margin-top: 2.4rem;
    }
  }
  a.scroll {
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    transform: translate(-50%, -50%);
    text-decoration: none;
    span {
      position: absolute;
      top: 10px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 1.5s infinite;
      animation: sdb 1.5s infinite;
      box-sizing: border-box;
    }
  }
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.p-btn-round {
  @include btnStyle();
}

.btn-about {
  @include btnColor;
  &:hover {
    @include btnHover;
  }
}

.btn-works {
  @include btnColor($pink, #fff, #fff);
  &:hover {
    @include btnHover($pink, #fff, $pink)
  }
}

/*-------------------------------------------------------------------------------------------------

sub-view

-------------------------------------------------------------------------------------------------*/

.subView {
  padding-top: 60px;
  background-image: url(../img/subView.jpg);
  background-size: cover;
  z-index: 10;
  &.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 290px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .subView-inner {
    opacity: 0;
    position: relative;
    margin: 0 auto;
    height: 230px;
    z-index: 50;
    .subView-textContent {
      text-align: center;
      z-index: 500;
      background-color: #EB8686;
      opacity: 0.95;
      width: 70%;
      max-width: 980px;
      height: 30%;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-60%) translateX(-47%);
      h1 {
        color: #fff;
        font-size: 4rem;
        font-family: 'Cabin Sketch', cursive;
        position: absolute;
        top: 53%;
        left: 47%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
    .subView-breadCrumbs {
      z-index: 49;
      position: absolute;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translateY(-30%) translateX(-53%);
      background-color: $baseBlue;
      display: flex;
      align-items: flex-end;
      width: 70%;
      max-width: 980px;
      margin: 0 auto;
      padding: 0 1rem;
      height: 30%;
      li {
        font-size: 1.2rem;
        padding: 0.1rem 0;
        a {
          color: #fff;
          transition: all 0.3s;
          &:hover {
            text-shadow: 0 0 8px rgba(255,255,255,.8);
          }
        }
        span {
          color: #fff;
          margin: 0 10px;
        }
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------------

about

-------------------------------------------------------------------------------------------------*/
.about {
  color:#fff;
  background-color: $baseBlue;
  .about-wrap {
    text-align: center;
    padding: 9rem 0 2rem;
    .section-inner {
      .section-title {
        @include sectionTitle(#fff);
        margin-bottom: 5.6rem;
        &:before {
          @include sectionTitleModule($pink);
          content: none;
        }
      }
      p {
        width: 90%;
        margin: 0 auto;
        font-size: 1.5rem;
        margin-bottom: 3.2rem;
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------------

want

-------------------------------------------------------------------------------------------------*/

.want {
  .want-wrap {
    padding: 9rem 0 0;
    .section-inner {
      max-width: 1080px;
      .section-title {
        @include sectionTitle($textBlack);
        text-align: center;
        margin-bottom: 6.4rem;
        &:before {
          @include sectionTitleModule($pink);
        }
      }
      .want-list {
        color: #fff;
        margin-bottom: 4rem;
        li {
          position: relative;
          width: 300px;
          height: 424px;
          margin: 0 auto 2.4rem;
          border-radius: 16px;
          box-shadow: 2px 2px 6px  rgba(0,0,0,0.5);
          transition: all .5s cubic-bezier(.68,-2,.45,2);
          img {
            height: 168px;
          }
          .card-title {
            text-align: center;
            font-size: 2rem;
            padding: 1.6rem 0;
            font-weight: bold;
            position: relative;
            span {
              position: absolute;
              top: 17px;
              left: 6px;
            }
            &:before {
              content: "";
              position: absolute;
              top: -8px;
              left: -12px;
              border-top: 40px solid transparent;
              border-bottom: 40px solid transparent;
              border-left: 69.282px solid $pink;
              filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
            }
          }
          @include cardBgBlue();
          &:nth-of-type(even) {
            background-color: $pink;
            .card-title:before {
              border-left: 69.282px solid #6088C6;
            }
          }
          .text-wrap {
            padding: 0.8rem 1.6rem;
            .card-text {
              font-size: 1.6rem;
              padding: 0 0.9rem;
              background: linear-gradient(transparent 0, transparent 97%, #ddd 100%);
              background-size: 100% 2.8rem;
              line-height: 2.8rem;
              a {
                color: $baseBlue;
                text-decoration: underline;
                transition: 0.3s;
                &:hover {
                  color: rgba(0, 0, 255, 0.8);
                }
              }
            }
          }
        }
        @media screen and (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          li {
            margin: 0 2.2rem 4.8rem;
          }
        }
      }
      a {
        font-size: 1.8rem;
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------------

works

-------------------------------------------------------------------------------------------------*/

.works {
  text-align: center;
  color:#fff;
  background-color: $baseBlue;
  .works-wrap {
    padding: 9rem 0;
    .section-inner {
      .section-title {
        @include sectionTitle(#fff);
        margin-bottom: 10rem;
        &:before {
          @include sectionTitleModule($pink);
        }
      }
      .swiper-container-wrapper {
        max-width: 980px;
        margin: 0 auto;
        position: relative;
        .swiper-container.p-grid__list {
          position: relative;
          margin-bottom: 10rem;
          max-width: 980px;
          .swiper-wrapper {
            .p-grid__list-item {
              background-color: #eee;
              padding: 1.4rem 1rem 5rem;
              border-image: linear-gradient(90deg,#AEC4E5,$pink,#AEC4E5) 1/6px 0 6px;
              border-style: solid;
              a {
                color: $textBlack;
                p.card-pic {
                  margin-bottom: 1rem;
                  overflow: hidden;
                }
                h3 {
                  font-size: 2.2rem;
                  padding: 1rem;
                }
                .card-text {
                  text-align: left;
                  padding: 1.6rem;
                  font-size: 1.6rem;
                }
              }
            }
          }
          .swiper-pagination {
            margin-top: 15px;
            position: static;
            .swiper-pagination-bullet-active {
              background-color: #EB8686;

            }
          }
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
          right: -28px;
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
          left: -28px;
        }
        .swiper-button-prev,.swiper-button-next {
          top: 55%;
          color: #EB8686;
          font-size: 3.2rem;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        }
      }
      .btn-works {
        font-size: 1.8em;
        @include btnColor($pink, #fff, #fff);
        &:hover {
          @include btnHover($pink, #fff, $pink)
        }
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------------

skill

-------------------------------------------------------------------------------------------------*/
.skill {
  color:#fff;
  background-color: $baseBlue;
  .skill-wrap {
    padding: 9rem 0;
    .section-inner {
      .section-title {
        @include sectionTitle(#fff);
        text-align: center;
        margin-bottom: 5.6rem;
        &:before {
          @include sectionTitleModule($pink);
        }
      }
      .history-wrap {
        .history-list {
          width: 90%;
          max-width: 1040px;
          margin: 0 auto;
          text-align: left;
          font-size: 1.6rem;
          .history-item {
            border-left: 4px solid #fff;
            padding: 0 0 5rem;
            @media screen and (min-width: 768px) {
              display: flex;
              margin-left: 5%;
            }
            .skill-left {
              @media screen and (min-width: 768px) {
                width: 50%;
              }  
              .age {
                font-size: 1.8rem;
                width: 30%;
                color: #FC9D9D;
                margin-right: auto;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                &::before {
                  margin-right: 0.5rem;
                  color: #fff;
                  border-top: 1px solid;
                  content: "";
                  flex-grow: 1;
                }
                @media screen and (min-width: 768px) {
                  margin-bottom: 2.5rem;
                }
              }
              .age-title {
                color: $baseBlue;
                background-color: #EEF9FF;
                display: inline-block;
                margin: 0 2rem 1rem;
                padding: 0.5rem 1rem;
                font-size: 2rem;
                font-weight: bold;
                border: 2px solid #AAD6EC;
                border-left: 5px solid #AAD6EC;
                border-right: 5px solid #AAD6EC;
                @media screen and (min-width: 768px) {
                  margin-bottom: 2.5rem;
                }
              }
              dl {
                display: flex;
                flex-wrap: wrap;
                dt {
                  width: 60px;
                  display: flex;
                  align-items: center;  
                  &::before {
                    border-top: 1px solid;
                    content: "";
                    flex-grow: 1;
                    margin-right: 0.5rem;
                  }
                }
                dd {
                  width: calc(100% - 60px);
                  padding-left: 1.6rem;
                }
              }
            }
            .skill-right {
              @media screen and (min-width: 768px) {
                width: 50%;
                padding-top: 5%;
              }  
              .age-text {
                width: 95%;
                margin: 0 auto 1rem;
                font-size: 1.4rem;
                padding: 1rem;
                @media screen and (min-width: 768px) {
                  margin: 0 auto 1rem 0;
                }    
              }
              .age-private {
                font-size: 1.4rem;
                width: 90%;
                margin: 0 auto;
                padding: 1rem;
                background-color: #6088C6;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}


/*-------------------------------------------------------------------------------------------------

contact

-------------------------------------------------------------------------------------------------*/

.contact {
  .contact-wrap {
    text-align: center;
    padding: 9rem 0;
    .section-inner {
      .section-title {
        @include sectionTitle($textBlack);
        margin-bottom: 5.6rem;
        &:before {
          @include sectionTitleModule(4pink);
        }
      }
      p {
        text-align: left;
        width: 90%;
        margin: 0 auto;
        font-size: 1.6rem;
        margin-bottom: 4rem;
      }
      .btn-contact {
        font-size: 1.8em;
        @include btnColor($pink, #fff, #fff);
        &:hover {
          @include btnHover($pink, #fff, $pink)
        }
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------------

footer

-------------------------------------------------------------------------------------------------*/

footer {
  padding: 4rem 0;
  background-color: $baseBlue;
  color: #fff;
  font-size: 1.6rem;
  .main-inner {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    ul.footer-list {
      li.footer-contents {
        padding: 0.5rem 0;
        margin-bottom: 2.4rem;
        label {
          p {
            font-weight: bold;
            padding: 0.5rem 0;
            cursor: pointer;
            position: relative;
            span {
              font-size: 1.2rem;
            }
            &::after {
              content: '+';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 3.4rem;
              position: absolute;
              right: 5%;
              top: 0;
              transition-duration: 0.35s;
            }
          }
        }
        input {
          display: none;
          &:checked ~ ul.content-list li {
            transition-duration: 0.35s;
            height: 3.6rem;
            padding: 0.5rem;
            a {
              display: inline-block;
              width: 100%;
            }
          }
          &:checked + label p::after {
            transform: rotate(315deg);
            transition-duration: 0.35s;
          }
        }
        ul.content-list {
          li {
              height: 0;
              padding: 0;
              overflow: hidden;
              transition-duration: 0.35s;
              a {
                color: #fff;
              }
          }
        }
      }
    }
  }
    .copyright {
      text-align: center;
      border-top: 1px solid #fff;
      padding-top: 1rem;
    }
}


/* -------------------------------------------- */
/* ▼タブレット用デザイン */
/* -------------------------------------------- */

@media screen and (min-width: 768px) {
  
  .tab-only {
    display: block;
  }
  /* -------------------------------------------- */
  /* 768px〜 ヘッダー用デザイン */
  /* -------------------------------------------- */
  
  .l-header {
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 22222;
    .l-header-inner {
      width: 95%;
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .l-product-logo-pc {
        .face-logo {
          width: 43px;
        }
      }
      .ham {
        display: none;
      }
      nav.l-header__nav-top {
        opacity: 1;
        height: 60px;
        transform: translate(0);
        background-color: transparent;
        font-size: 1.6rem;
        position: static;
        .balloon {
          display: none;
        }
        .gb-menu {
          width: auto;
          display: flex;
          padding: 0;
          justify-content: flex-end;
          position: static;
          li {
            height: 58px;
            transition: .3s;
            margin-bottom: 0;
            &:hover {
              text-shadow: 0 2px 2px #bbb;
              background-color: rgba(192, 192, 192, 0.3);
              box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
            }
            a {
              display: inline-block;
              line-height: 60px;
              padding: 0 10px 0 ;
              i {
                margin-right: 0.5rem;
              }
              span {
                display: none;
              }
            }
            img {
              width: 2.5rem;
              margin: 0px 0 5px 0 ;
            }
          }
        }
      }
    }
  }
  /* -------------------------------------------- */
  /* 768px〜 ファーストビュー用デザイン */
  /* -------------------------------------------- */

  .p-grid__view-first .view-first-contents h2  {
    &:hover p {
      font-size: 1.6rem;
      top: -2px;
      right: -140px;
    }
    p {
      padding-bottom: 2rem;
      top: -2px;
      right: -132px;
      transform: rotate(25deg);
      transition: all 0.2s;
    }
  }

  /* -------------------------------------------- */
  /* 768px〜 コンタクト用デザイン */
  /* -------------------------------------------- */

.contact {
  .contact-wrap {
    text-align: center;
    padding: 9rem 0;
    .section-inner {
      .section-title {
        @include sectionTitle($textBlack);
        margin-bottom: 5.6rem;
        &:before {
          @include sectionTitleModule($pink);
        }
      }
      p {
        text-align: center;
        line-height: 3.2rem;
        width: 90%;
        margin: 0 auto;
        font-size: 1.6rem;
        margin-bottom: 4rem;
      }
      .btn-contact {
        font-size: 1.8em;
        @include btnColor($pink, #fff, #fff);
        &:hover {
          @include btnHover($pink, #fff, $pink)
        }
      }
    }
  }
}

  /* -------------------------------------------- */
  /* 768px〜 フッター用デザイン */
  /* -------------------------------------------- */

  footer {
    .main-inner {
      ul.footer-list {
        display: flex;
        justify-content: flex-end;
        li.footer-contents {
          width: 30%;
          margin-left: 20px;
          label {
            p {
              font-size: 2.4rem;
              margin-bottom: 0.8rem;
              cursor: auto;
              &::after {
                display: none;
              }
            }
          }
          ul.content-list {
            li {
              height: auto;
              padding: 0.5rem;
              opacity: 1;
              }
              a {
                display: inline-block;
                color: #fff;
                width: 100%;
                transition: all 0.2s;
                &:hover {
                  color: $pink;  
              }
            }
          }
        }
      }
    }
    .copyright {
      text-align: center;
      border-top: 1px solid #fff;
      padding-top: 1rem;
    }
  }
  
}
/* ------------------------------------ */
/* ▼PC用デザイン微調整 */
/* ------------------------------------ */
@media screen and (min-width: 1024px) {
  .pc-only {
    display: block;
  }

  .l-header {
    .l-header-inner {
      .l-product-logo-pc {
        a {
          display: flex;
          .logo {
            width: 200px;
            padding: 20px 20px 0;
          }
        } 
      }
    }
  }

  .p-grid__view-first .view-first-contents {
    transform: translate(-50%, -25%);
  }

  footer {
    .main-inner {
      display: flex;
      div.footer-items {
        width: 40%;
        .footer-icon {
          width: 25%;
          padding: 0 0 1.6rem;
          margin: 0 auto;
        }
        .footer-logo {
          width: 60%;
          margin:  0 auto 2.4rem;
        }
      }
      ul.footer-list {
        width: 60%;
        li.footer-contents {
          width: 33%;
          ul.content-list {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}