@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  color: #242424;
  font-family: 'Roboto',sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #242424;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto
}

/*基本文字色を変更*/

/*-------------------------------------------------------------------------------------------------

共通部分

--------------------------------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------------------------------

header

--------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------

view-first

--------------------------------------------------------------------------------------------------*/


.p-grid__view-first {
  position: relative;
  height: 100vh;
  width: 100%;
  &::before { //画質を落とした背景動画にドットのマスクを設定
    background-color: rgba(0, 0, 0, .4);
    background-image: radial-gradient(#000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 4px 4px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .view-first-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 95%;
    text-align: center;
    margin: 0 auto;
    h2 {
      color: #fff;
      text-shadow: 0 0 8px rgba(255,255,255,.8);
      font-size: 2.2rem;
      margin-bottom: 1rem;
      font-family: copperplate, serif;
      font-weight: 700;
      font-style: normal;
      span {
        font-size: 4rem;
      }
    }
    p {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
      a {
        margin-top: 2.4rem;
      }
  }
}

@mixin btnStyle() {
  opacity: 0.8;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 auto .25rem auto;
  line-height: 4rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 20rem;
  height: 4rem;
  position: relative;
}

.p-btn-round {
  @include btnStyle();
}

@mixin btnColor($btnBgColor:#4072B3, $borderColor:#fff, $btnColor:#fff) {
  background: $btnBgColor;
  border: 1px solid $borderColor;
  color: $btnColor;
}

@mixin btnHover($hoverColor:#4072B3, $hoverBgColor:#fff, $hoverBoderColor:#4072B3) {
  color: $hoverColor;
  background-color: $hoverBgColor;
  border: 2px solid $hoverBoderColor;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  top: -2px;
}

.btn-about {
  @include btnColor;
  &:hover {
    @include btnHover;
  }
}

.btn-works {
  @include btnColor(#EB8686, #fff, #fff);
  &:hover {
    @include btnHover(#EB8686, #fff, #EB8686)
  }
}






/* -------------------------------------------- */
/* ▼タブレット用デザイン */
/* -------------------------------------------- */
@media screen and (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザイン用デザイン */
/* ------------------------------------ */
@media screen and (min-width: 1024px) {

}
